/* BACKGROUND COLOURS
____________________________________*/
.bg-gray-0   { background-color:#f8f9fa; }
.bg-gray-1   { background-color:#f1f3f5; }
.bg-gray-2   { background-color:#e9ecef; }
.bg-gray-3   { background-color:#dee2e6; }
.bg-gray-4   { background-color:#ced4da; }
.bg-gray-5   { background-color:#adb5bd; }
.bg-gray-6   { background-color:#868e96; }
.bg-gray-7   { background-color:#495057; }
.bg-gray-8   { background-color:#343a40; }
.bg-gray-9   { background-color:#212529; }

.bg-red             { background-color:#f03e3e; }
.bg-red-transparent { background-color:#fff5f5; }
.bg-red-lite        { background-color:#ff6b6b; }
.bg-red-dark        { background-color:#c92a2a; }

.bg-blue             { background-color:#1c7cd6; }
.bg-blue-transparent { background-color:#e8f7ff; }
.bg-blue-lite        { background-color:#329af0; }
.bg-blue-dark        { background-color:#1862ab; }

.bg-green             { background-color:#37b24d; }
.bg-green-transparent { background-color:#ebfbee; }
.bg-green-lite        { background-color:#51cf66; }
.bg-green-dark        { background-color:#2b8a3e; }

.bg-yellow             { background-color:#f59f00; }
.bg-yellow-transparent { background-color:#fff9db; }
.bg-yellow-lite        { background-color:#fcc419; }
.bg-yellow-dark        { background-color:#e67700; }

.bg-orange             { background-color:#f76707; }
.bg-orange-transparent { background-color:#fff4e6; }
.bg-orange-lite        { background-color:#ff922b; }
.bg-orange-dark        { background-color:#d9480f; }